{% extends "index.html" %}


{% block title %} Bank {% endblock %}

{% block content %} 

    <table>
        <thead>
          <tr>
            <th >Account Name</th>
            <th >Balance</th>
            <th >Wins</th>
          </tr>
        </thead>

        <tbody>

            {% for account in accounts %} 

                <tr>
                    <td> <a href="/accounts/{{account.username}}">{{ account.username }}</a></td>
                    <td> {{ account.balance }} </td>
                    <td> 5 </td>
                </tr>

            {% endfor %}

          <!-- <tr>
            <td>ujjwal</td>
            <td>0</td>
            <td>7</td>
          </tr> -->
        </tbody>
      </table>

{% endblock %} 