{% extends "index.html" %}


{% block title %} Accounts {% endblock %}

{% block content %} 

<div style="padding: 3rem; padding-top: 5rem;">
    <table>
        <thead>
          <tr>
            <th >Account Name</th>
            <th >Balance</th>
            <th >Wins</th>
          </tr>
        </thead>
        <tbody>
            {% for account in accounts %} 
                <tr>
                    <td> <a href="/accounts/{{account.username}}">{{ account.username }}</a></td>
                    <td> <code>{{ account.balance }} BET</code>  </td>
                    <td> 5 </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>


{% endblock %} 