{% extends "index.html" %}


{% block title %} Bank {% endblock %}

{% block content %} 
 <div style="padding: 2rem; text-align:center;">
    <h2><code><strong style="font-family:'Courier New', Courier, monospace;">Welcome to BetCoin Project </strong> </code> </h2>
    <div style="padding-left: 6rem; padding-right: 6rem; padding-top:2rem;">
        <p>
            BetCoin is a small project created in python and flask with the foundation css framework with features of a bank, a custom coin and games like casino and online store which can be accessed with the coin.
        </p>
        <br>
        <a href="/signup" class="button">Create Account</a>
        <br>
        <a href="/casino" class="button success">Casino</a>
    </div>
 </div>

{% endblock %} 
