{% extends "index.html" %}


{% block title %} Transactions of {{username}} {% endblock %}

{% block content %} 

    {% for send in sends %}
    <table id='result' class='display'>
      <thead>
        <tr>
          <th>Sender</th>
          <th>amount</th>
          <th>Reciver</th>
          <th>Time</th>
        </tr>
      </thead>
  
      <tbody> 
        <tr>
          <td>{{ send.sender }}</td>
          <td>{{ send.amount }}</td>
          <td>{{send.reciever}}</td>
          <td>{{send.dateTime}}</td>
    {% endfor %}
        </tr>        
      </tbody>
    </table>
    
    {% for recieve in recieves %}

    
  <table id='result' class='display'>
    <thead>
      <tr>
      
        <th>Sender</th>
        <th>amount</th>
        <th>Reciver</th>
        <th>Time</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{recieve.sender}}</td>
        <td>{{recieve.amount}}</td>
        <td>{{recieve.reciever}}</td>
        <td>{{recieve.dateTime}}</td>
      </tr>
    </tbody>
  </table>
    {% endfor %}


{% endblock %} 



