{% extends "index.html" %}


{% block title %} Transactions of {{username}} {% endblock %}

{% block content %}

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for send in sends %}
    <tr>
      <td>{{send.sender}}</td>
      <td>{{send.reciever}}</td>
      <td>{{send.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
        
    {% for recieve in recieves %}

    <tr>
      <td>{{recieve.sender}}</td>
      <td>{{recieve.reciever}}</td>
      <td>{{recieve.amount}}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>






{% endblock %} 



